@value prependClass: form-control__prepend;

.form-control-group {
  --box-shadow: none;

  position: relative;
  margin-top: 12rem;
}

.form-control-group label {
  position: absolute;
  top: -1.6em;
  display: block;
  font-weight: var(--font-weight__medium);
  font-size: 4rem;
  line-height: 1.2;
}

.form-control__prepend {
  position: relative;
  display: flex;
}

.form-control__prepend::before {
  display: block;
  flex-shrink: 0;
  width: 14rem;
  height: 14rem;
  color: var(--grayscale-700);
  font-size: 5rem;
  line-height: 2.75em;
  text-align: center;
  background-color: var(--main-bg-color);
  border-right: 1px solid var(--grayscale-300);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  content: var(--prepend-content, '');
}

.form-control input {
  display: block;
  width: 100%;
  padding: 4rem;
  font-weight: var(--font-weight__bold);
  font-size: 5rem;
  font-family: inherit;
  line-height: 1;
  border: 0;
  border-radius: 4px;
}
